table {
    font-size: 1.7em;
    border-collapse: collapse;
    margin: 25px auto;
    width: 70%;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;


}
.vinos {
    background:  rgb(175, 115, 175);
    
}
.precio {
    background:  rgb(175, 115, 175);

}
.caja {
    background:  rgb(175, 115, 175);
}
.n1 {
    background: rgba(205, 212, 205, 0.952);
}
.n2 {
    background: rgba(205, 212, 205, 0.952);
}
.n3 {
    background: rgba(205, 212, 205, 0.952);
}
.n4 {
    background: rgba(205, 212, 205, 0.952);
}
.n5 {
    background: rgba(205, 212, 205, 0.952);
}
.n6 {
    background: rgba(205, 212, 205, 0.952);
}
